html, body {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

 *{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mrpopcorn-brand {
font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;  
}